workflows/n8n-openai-image-generator.json
{
  "name": "n8n-openai-image-generator",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Image Generation",
        "formDescription": "This form will allow you to generate images",
        "formFields": {
          "values": [
            {
              "fieldName": "Pormpt",
              "fieldLabel": "input your image idea",
              "fieldType": "textarea",
              "placeholder": "input your image idea",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -160,
        -64
      ],
      "id": "c592d38e-1b4a-474d-b4c1-c126df6c8f7c",
      "name": "On form submission",
      "webhookId": "19e745f8-03d7-4e12-958a-bc02e56d5b4c"
    },
    {
      "parameters": {
        "content": "- A pretty girl playing with a puppy\n- Three girls are embarrassed by the wind\n- A girl in a bunny girl outfit with a hammer and a chainsaw\n- A girl dressed as Made stealing her wallet and running away\n- A beautiful beautiful woman extort money with a katana",
        "height": 256,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        -512
      ],
      "typeVersion": 1,
      "id": "c0b8558f-c16c-4ba4-bb4d-a5faa4ac6898",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "NODE\n- Read/Write Files from Disk",
        "height": 96,
        "width": 368,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        -512
      ],
      "typeVersion": 1,
      "id": "8e8f8397-7244-47f5-8b58-af26c68cf1e9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.Pormpt }}\nanime-style illustration, Japanese animation style,\nclean line art, soft shading,\nlarge expressive eyes,\ncinematic lighting, dreamy atmosphere,\nhigh quality, ultra-detailed, 4k,\nillustrated, 2D animation style, not realistic\n\nNOT 3D, NOT CGI, NOT 3D render,\nno 3D modeling, no depth-heavy lighting,\nno photorealism, no realistic textures,\nno blender style, no unreal engine style",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        64,
        -64
      ],
      "id": "ab3618b8-6431-496c-b8e8-3cb7ed84626c",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "64pR9zIwaxub96pl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "sora-2",
          "mode": "list",
          "cachedResultName": "SORA-2"
        },
        "prompt": "=A beautiful beautiful woman extort money with a katana",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        288,
        -48
      ],
      "id": "cfcbed53-6837-4675-b585-39dcd22302bf",
      "name": "Generate a video",
      "credentials": {
        "openAiApi": {
          "id": "64pR9zIwaxub96pl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Image Generation",
        "formDescription": "This form will allow you to generate images",
        "formFields": {
          "values": [
            {
              "fieldName": "Pormpt",
              "fieldLabel": "input your image idea",
              "fieldType": "textarea",
              "placeholder": "input your image idea",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -144,
        416
      ],
      "id": "a2996b89-f240-44ba-be01-537d0cabaf8d",
      "name": "On form submission1",
      "webhookId": "416c3749-5880-45ca-b428-a3d11c8412e4"
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "models/veo-2.0-generate-001",
          "mode": "list",
          "cachedResultName": "models/veo-2.0-generate-001"
        },
        "prompt": "=make video about this image  {{ $json.id }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        240,
        416
      ],
      "id": "61179b63-62b2-4ff0-8873-4ff2e142d658",
      "name": "Generate a video2",
      "credentials": {
        "googlePalmApi": {
          "id": "QC8KfYPj6fr6hZUm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-exp-image-generation",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-exp-image-generation"
        },
        "prompt": "={{ $json.Pormpt }}\nanime-style illustration, Japanese animation style,\nclean line art, soft shading,\nlarge expressive eyes,\ncinematic lighting, dreamy atmosphere,\nhigh quality, ultra-detailed, 4k,\nillustrated, 2D animation style, not realistic\n\nNOT 3D, NOT CGI, NOT 3D render,\nno 3D modeling, no depth-heavy lighting,\nno photorealism, no realistic textures,\nno blender style, no unreal engine style",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        48,
        416
      ],
      "id": "d501e50c-042e-4796-a799-a9adb5fb3c0b",
      "name": "Generate an image1",
      "credentials": {
        "googlePalmApi": {
          "id": "QC8KfYPj6fr6hZUm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "[26.01.28]\n아직 주어진 이미지 기반 영상 생성 노드는 지원되지 않는듯",
        "height": 80,
        "width": 368,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        -176
      ],
      "typeVersion": 1,
      "id": "e1603cc5-f331-41b7-bdc2-3655aad96b98",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Google AI Studio 결재하면 아래 노드도 만들어보기",
        "height": 80,
        "width": 368,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        304
      ],
      "typeVersion": 1,
      "id": "f05e4f33-3bc9-4110-a643-2569bd224ef4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "model": "gemma2:2b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        720,
        240
      ],
      "id": "783745d6-a06d-4734-892b-6f9704b6433d",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "FhRzGMwpasr3Mg2V",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        736,
        0
      ],
      "id": "5f43d03e-4529-46be-b86f-6e3b290321b9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        528,
        -16
      ],
      "id": "9fa92b3b-3fb0-42e4-8ee5-d75e13d0b1be",
      "name": "When chat message received",
      "webhookId": "dd58a2de-459e-4fd7-bb04-266fde29ba2b"
    },
    {
      "parameters": {
        "content": "[현재 ollama 실행중인지 확인]\ncurl http://localhost:11434/api/tags\n\n#### 1. [Ollama가 실제로 11434 포트로 실행되고 있는지 확인]\nnetstat -ano | findstr :11434\n- 아래 내용 같은게 나오지 않으면 실행되고 있는게 아님\nTCP    127.0.0.1:11434        0.0.0.0:0              LISTENING       12032\n- 그럴 때는 아래 순으로 작업해보자\n\n#### 2. [관리자 권한으로 powershell 실행 후 ollama 관련 프로그램 다 끄기]\n- taskkill /F /IM ollama.exe\n- taskkill /F /IM ollama_llama_server.exe\n- cf) 작업 관리자 창에서 ollama 들어간 애들 다 작업 끝내기 해도 됨\n\n#### 3. [ollama (다시) 시작]\n- ollama serve\n- 그 후 다시 netstat -ano | findstr :11434 명령어를 실행해 정상적인 값이 나오는지 확인",
        "height": 416,
        "width": 784
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        -64
      ],
      "typeVersion": 1,
      "id": "dd76ad2d-91d1-4434-aea1-7d032ee98bff",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 이게 핵심인 듯\n- Credentials 생성시 Base URL을 AS-IS에서 TO-BE로 바꾸니까 연결 성공\nAS-IS : http://localhost:11434\nTO-BE : http://127.0.0.1:11434\n\n- 참고로 API Key는 필요없으므로 비워둬도 된다.(필수 표시는 무시)",
        "width": 576,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        368
      ],
      "typeVersion": 1,
      "id": "a06cacbf-be7d-4bb3-a790-7f320b7bdf87",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        []
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Generate an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image1": {
      "main": [
        [
          {
            "node": "Generate a video2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d3346cf7-dd13-4c0c-b9d2-ab98ce66d7d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dcbf05de79cd320873e73cfbd22da1610518929336af02084cb7d8a96f6c351f"
  },
  "id": "P14MpCcGq4OPLrLwT5R1q",
  "tags": []
}